* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 20px;
    font-family: sans-serif;
}

h2 {
    margin-top: 48px;
    margin-bottom: 12px;
    font-size: 22px;
    color: #333;
}


a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 2rem;
    background: #fafafa;
}

.grid {
    display: grid;
    gap: 1rem;
}

.item {
    background: #e8f0ff;
    border: 1px solid #bcd0ff;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
}

.item.big {
    background: #ffe0d6;
    border-color: #ffc499;
}

.btn {
    width: 120px;
    padding: 12px 16px;
    border: 1px solid #333;
    margin: 20px;
}

.praent {
    display: flex;
}

.child {
    flex: 1;
    /* 남은 공간 자동 채우기 */
}


.card {
    background: #f5f7fb;
    border: 1px solid #e0e6d0;
    padding: 20px;
    text-align: center;
    font-size: 18px;
}